<!DOCTYPE html>

<html>

<head>

  <title>Scrabble</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css" type="text/css">

</head>

<body>

  <div class="container">

    <div class="jumbotron">

      <h1> Scrabble Game</h1>

      <p> cause that's what you came here for! </p>

      <%= yield %>

    </div>

  </div>

</body>

</html>
